@font-face {
  font-family: "AtypDisplay";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AtypDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "AtypDisplay";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/AtypDisplay-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "AtypDisplay";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/AtypDisplay-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "AtypDisplay";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/AtypDisplay-Bold.ttf") format("truetype");
}
::-moz-placeholder {
  color: #666;
}
::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: #ECFB5C;
  color: #fff;
}

::selection {
  background-color: #ECFB5C;
  color: #fff;
}

input, textarea {
  outline: none;
}
input:focus:required:invalid, textarea:focus:required:invalid {
  border-color: red;
}
input:required:valid, textarea:required:valid {
  border-color: green;
}

body {
  font-family: "AtypDisplay", sans-serif;
  font-size: 16px;
  line-height: 1.65;
  color: #000;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

.btn {
  position: relative;
  text-transform: uppercase;
  padding: 15px 20px;
  border: 1px solid rgba(236, 251, 92, 0.1);
  color: #fff;
  background: none;
  font-size: 1rem;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: 200px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
.btn svg {
  width: 20px;
  height: 20px;
  transition: all 0.5s ease;
}
.btn::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  transition: width 0.5s ease;
}
.btn.btn__main {
  background-color: rgba(236, 251, 92, 0.05);
}
.btn.btn__main svg * {
  fill: #fff;
}
.btn.btn__main:hover {
  color: #04211F;
}
.btn.btn__main:hover svg {
  transform: rotate(45deg);
}
.btn.btn__main:hover svg * {
  fill: #04211F;
}
.btn.btn__main:hover::before {
  width: 100%;
  z-index: -1;
}
.btn.btn__main::before {
  background-color: #ECFB5C;
}
.btn.btn__primary {
  background-color: rgba(237, 71, 0, 0.05);
  border: 1px solid rgba(237, 71, 0, 0.1);
  color: #000;
  z-index: 1;
}
.btn.btn__primary:hover {
  color: #fff;
}
.btn.btn__primary:hover svg {
  transform: rotate(45deg);
}
.btn.btn__primary:hover svg * {
  fill: #fff;
}
.btn.btn__primary:hover::before {
  width: 100%;
  z-index: -1;
}
.btn.btn__primary::before {
  background-color: #ED4700;
}
.btn.btn__primary::before:hover {
  color: #ED4700;
}

.arr-wrap {
  width: 100%;
  height: 100%;
  flex: none;
  position: relative;
  overflow: hidden;
}
.arr-wrap-24 {
  width: 24px;
  height: 24px;
}
.arr-wrap-32 {
  width: 32px;
  height: 32px;
}
.arr-wrap .arr-ic-main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}
.arr-wrap .arr-ic-clone {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
  transform: translate(-150%, 150%);
}

.arr-hover:hover .arr-ic-main {
  transform: translate(150%, -150%);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.1, 1);
}
.arr-hover:hover .arr-ic-main .arr-ic-clone {
  transform: translate(0, 0);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.1, 1);
}