.footer {
  background-color: #FFF9EC;
  margin-top: 100vh;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 3;
}
.footer__wrapper {
  box-sizing: border-box;
  max-width: 1240px;
  width: 100%;
  max-height: 350px;
  height: 100%;
  padding: 26px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;
  overflow: hidden;
}
.footer__content {
  max-width: 300px;
  padding: 34px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  margin-right: auto;
}
.footer h2 {
  color: #ED4700;
  font-size: 48px;
  line-height: 67px;
  text-align: start;
  text-transform: uppercase;
  font-weight: 700;
}
.footer__description {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 50px;
}
.footer__title {
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
}
.footer__menu, .footer__contacts {
  padding-left: 75px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  height: 100%;
  flex: 0 0 15%;
}
.footer__menu__wrapper, .footer__contacts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__menu__item, .footer__contacts__item {
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.3 ease;
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer__menu__item svg, .footer__contacts__item svg {
  transition: all 0.3s ease;
}
.footer__menu__item:hover, .footer__contacts__item:hover {
  color: #ED4700;
}
.footer__menu__item:hover svg, .footer__contacts__item:hover svg {
  transform: rotate(45deg);
}
.footer__menu__item:hover svg *, .footer__contacts__item:hover svg * {
  fill: #ED4700;
}
.footer__menu__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__menu__item {
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.3 ease;
}
.footer__menu__item:hover {
  color: #ED4700;
}
.footer__additional {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
  max-width: 1240px;
  width: 100%;
}
.footer__additional-left {
  color: #000;
  font-size: 14px;
  line-height: 20px;
}
.footer__additional-right {
  display: flex;
  gap: 30px;
}
.footer__additional .footer__btn {
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  padding: 14px 17px;
  display: flex;
  align-items: center;
  gap: 11px;
  text-transform: none;
  background-color: #04211F;
  border: 1px solid rgba(19, 91, 65, 0.2);
}
.footer-location {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-location__text {
  color: #000;
  font-size: 14px;
  line-height: 140%;
}
.footer-location__border {
  background-color: rgba(0, 0, 0, 0.2);
  width: 1px;
  height: 24px;
}
.footer__marquee {
  height: 240px;
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.16);
  background-color: rgb(0, 0, 0);
  transition: color 0.4s ease;
}
.footer__marquee:hover {
  color: rgba(255, 255, 255, 0.2);
}
.footer__marquee-wrap {
  padding-top: 45px;
  padding-bottom: 58px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: nowrap;
  transform: translate(0);
  transition: transform 1.6s ease-out;
}
.footer__marquee-item {
  padding-right: 3rem;
  white-space: nowrap;
  font-size: 120px;
  line-height: 168px;
  animation-name: rtl;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-play-state: running;
  width: -moz-max-content;
  width: max-content;
  will-change: transform, width;
  text-transform: uppercase;
}
.footer__cursor {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  bottom: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}
.footer__cursor-txt {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.footer__cursor-main {
  box-sizing: border-box;
  padding: 8px 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  pointer-events: auto;
  position: absolute;
  color: black;
  width: 100px;
  height: 100px;
  background-color: #ecfb5c;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.4s ease;
}
.footer__marquee:hover .footer__cursor-main {
  opacity: 1;
}

@keyframes rtl {
  0% {
    transform: translateZ(0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}