@keyframes scrolling-rtl {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scrolling-ltr {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(40%);
  }
}
.hero {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #04211F;
  /* &.sticky--spacer {
    height: 200vh;
  } */
}
.hero__title {
  position: absolute;
  top: 25%;
  text-transform: uppercase;
  color: #ECFB5C;
  font-size: 20rem;
  text-wrap: nowrap;
  z-index: 100;
  animation: scrolling-rtl 25s infinite linear;
}
.hero__about {
  box-sizing: border-box;
  width: 33%;
  display: flex;
  align-self: flex-end;
  justify-content: end;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  margin-bottom: 60px;
}
.hero__subtitle {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.hero__subtitle span {
  color: #FCA311;
}
.hero__description {
  margin-top: 40px;
  color: #fff;
  opacity: 0.8;
  font-size: 0.9rem;
  text-align: right;
  text-transform: uppercase;
  text-align: center;
}
.hero__description div {
  display: flex;
  justify-content: flex-end;
}
.hero__images {
  position: absolute;
  transition: 0.45s;
  display: block;
}
.hero__images__wrapper {
  position: relative;
  width: 120px;
  height: 150px;
  margin: 0 auto;
  align-self: flex-end;
  margin-bottom: 80px;
  overflow: hidden;
}
.hero__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__images canvas {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__empty {
  width: 33%;
  height: 100%;
}
.hero__scroll-down {
  position: absolute;
  bottom: 60px;
  right: 100px;
  display: flex;
  align-items: center;
  gap: 16px;
  color: #fff;
  font-size: 14px;
}
.hero__scroll-down svg {
  position: relative;
  top: 7px;
}