$fontsize: 16px; // Body Font Size
$textcolor: #000; // Text Color
$lineheight: 1.65; // Document Line Height
$userfont: roboto-oh5, sans-serif; // User Font Family

$white: #fff; // White Color
$black: #000; // Black Color
$bg-main: #0C0C0C; // Main Background Color
$bg-secondary: #F3F2EF; // Secondary Background Color
$overlay-hero: #04211F; // Hero Overlay Color
$main-color: #ECFB5C; // Main Color
$primary-color: #ED4700; // Primary Color
$secondary-color: #FCA311; // Secondary Color