$fontsize: 16px; // Body Font Size
$textcolor: #000; // Text Color
$lineheight: 1.65; // Document Line Height
$userfont: 'AtypDisplay', sans-serif; // User Font Family

$white: #fff; // White Color
$black: #000; // Black Color
$bg-main: #04211F; // Main Background Color
$bg-secondary: #FFF9EC; // Secondary Background Color
$main-color: #ECFB5C; // Main Color
$primary-color: #ED4700; // Primary Color
$secondary-color: #FCA311; // Secondary Color